* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 22px;
}

html {
  background-color: rgb(29, 29, 29);
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
}

.main .score-board {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
}

.main .board {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
}

.block {
  border: 1px solid rgb(108, 106, 106);
}

.fill {
  background-color: white;
}

.food {
  background-color: rgb(228, 50, 50);
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .start,
.over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.over {
  display: none;
}

.modal button {
  padding: 12px 25px;
  cursor: pointer;
  color: black;
  background-color: white;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 30px;
}

.modal button:hover {
  background-color: rgba(255, 255, 255, 0.89);
}
