* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 22px;
}

html {
  background-color: rgb(29, 29, 29);
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
}

.main .score-board {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
}

.main .board {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
}

.block {
  border: 1px solid rgb(108, 106, 106);
}
