* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-color: purple;
  /* margin: auto; */
}

.container {
  max-width: 500px;
  margin: 100px auto;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

h1 {
  margin-bottom: 20px;
}

.todo-input {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}

.todo-input input {
  padding: 0px 20px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
}

.todo-input button {
  padding: 0px 20px;
  cursor: pointer;
  background-color: orangered;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
}

.todo-list-container {
  margin: 20px 0;
}

.todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: crimson; */
  height: 30px;
  margin: 10px auto;
  cursor: pointer;
}

.todo input {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.todo p {
  width: 100%;
  margin: 0 10px;
}

.complete {
  text-decoration: line-through;
  color: rgba(145, 133, 133, 0.826);
}

.todo button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
  text-align: center;
  background-color: white;
  cursor: pointer;
}
